<template name="messageForm">
	<header >
		<h1>Send some love<span>to friends and loved ones</span></h1>	
	</header>
	<div class="main">
		<form id="nl-form" class="nl-form">
			I want to send
			<br>
			<select name="type">
                <option value="love" selected>some love</option>
                <option value="thanks">a word of thanks</option>
                <option value="kisses">kisses</option>
                <option value="hugs">hugs</option>
                <option value="confession">a confession</option>
			</select>
			to
            <input name="recipient" type="text" value="" placeholder="everyone" data-subline="Enter recipient's name here"/>
			!
			<br>
			What I want to say is:  
			<input name="message" type="text" value="" placeholder="I love you" data-subline="Enter your message here"/>
			<br>
			<br>
			<i class="fa fa-heart"></i>
			<input name="sender" type="text" value="" placeholder="anonymous" data-subline="Enter your name here"/>
            ,
			<select name="gender">
                <option value="his" selected>Boy</option>
                <option value="her">Girl</option>
            </select>

			<div class="nl-submit-wrap">
				<button class="nl-submit" type="submit">Send</button>
			</div>
			<div class="nl-overlay"></div>
		</form>

	</div>
	<script>
		var nlform = new NLForm(document.getElementById( 'nl-form' ))
	</script>
</template>